@{
    ViewData["Title"] = "Home Page";
}
<style>
    .select2-container {
        z-index: 100000;
    }

    .toast {
        position: fixed;
        bottom: 10px;
        right: 10px;
        z-index: 100000;
    }
</style>
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.10/css/select2.min.css" rel="stylesheet" />
<div class="container">
    <div class="table-responsive">
        <table id="myTable" class="table table-bordered">
            <thead>
                <tr>
                    <th>Product Name</th>
                    <th>Category Name</th>
                    <th>Customer Name</th>
                    <th>Order Date</th>
                    <th>Amount</th>
                </tr>
            </thead>
        </table>
    </div>
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary" onclick="view()">
        Add Order
    </button>
    <button type="button" class="btn btn-primary" onclick="reloadData()">
        Search
    </button>


    <div class="toast">
        <div class="toast-body" id="toastbody">
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="myModal" role="dialog">

        <div class="modal-dialog">
            <!-- Modal content-->

            <div class="modal-content">

                <div class="modal-header">
                    <h4 class="modal-title">Information</h4>

                </div>

                <div class="modal-body">
                    <div class="form-group">
                        <label for="OrderName">Order Name</label>
                        <input type="text" class="form-control" id="orderName" required />
                    </div>
                    <div class="form-group">
                        <label for="CustomerList">Customer</label>
                        <select name="customers" class="form-control" id="customerId"></select>
                    </div>
                    <div class="form-group">
                        <label for="ProductList">Product</label>
                        <select name="products" class="form-control" id="productId"></select>
                    </div>
                    <div class="form-group">
                        <label for="ProductList">OrderDate</label>
                        <input type="date" class="form-control" id="orderDate" value="" />
                    </div>
                    <div class="form-group">
                        <label for="ProductList">Amount</label>
                        <input type="number" class="form-control" id="amount" value="1" min="1" required />
                    </div>
                    <button class="btn btn-primary" style="margin-top:10px" onclick="sendOrder()">Submit</button>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" onclick="hideModal()">Close</button>
                </div>

            </div>

        </div>

    </div>
</div>
@section Scripts{
<script src="//cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.10/js/select2.min.js"></script>

<script>
            function sendOrder() {
                var urlsend = '@Url.Action("InsertData", "Home")';

                var productId = $("#productId").val();
                var orderName = $("#orderName").val();
                var customerId = $("#customerId").val();
                var amount = $("#amount").val();
                var orderDate = $("#orderDate").val();
                if (!orderName) {
                    $('.toast').toast('show');
                     $('#toastbody').css("background-color", "red").css("color", "white");
                     $('#toastbody').text("OrderName required");
                     return;
                }
                if (amount < 1 || !amount) {
                    $('.toast').toast('show');
                    $('#toastbody').css("background-color", "red").css("color", "white");
                    $('#toastbody').text("Amount required and larger than 1");
                    return;
                }
                urlsend += "?ProductId=" + productId + "&CustomerId=" + customerId + "&OrderDate=" + orderDate + "&Amount=" + amount + "&OrderName=" + orderName;
                $.ajax({
                    url: urlsend,
                    type: "post",
                    headers: {
                        "content-type": "text/plain;charset=UTF-8"
                    },
                    beforeSend: function () {
                        console.log("Waiting...");
                    },
                    error: function () {
                        console.log("Error");
                    },
                    success: function (data) {
                        $('.toast').toast('show');
                        if (data.success) {
                            $("#myModal").modal("hide");
                            $('#toastbody').css("background-color", "blue").css("color", "white");
                            reloadData();
                        }
                        else {
                            $('#toastbody').css("background-color", "red").css("color", "white");
                        }
                        $('#toastbody').text(data.message);

                    }
                });
            }
            function view() {
                var now = new Date();
                var y = now.getFullYear();
                var m = now.getMonth() + 1;
                var d = now.getDate();

                m = m < 10 ? "0" + m : m;
                d = d < 10 ? "0" + d : d;
                document.querySelector("#orderDate").value = y + "-" + m + "-" + d;
                $("#orderName").val("");
                getCustomer();
                getProduct();
                $("#amount").val(1);
                $("#myModal").modal("show");
            }
            function hideModal() {
                $("#myModal").modal("hide");
            }
            $(document).ready(function () {
                getCustomer();
                getProduct();
                getData();
            });
            function getCustomer() {
                var getCustomerList = '@Url.Action("GetCustomerList", "Home")';
                $.ajax({
                    type: "POST",
                    url: getCustomerList,
                    data: "{}",
                    success: function (data) {
                        var s = "";
                        for (var i = 0; i < data.item.length; i++) {
                            s += '<option value="' + data.item[i].id + '">' + data.item[i].name + '</option>';
                        }
                        $("#customerId").html(s);
                    }
                });
            }
            function getProduct() {
                var getProductList = '@Url.Action("GetProductList", "Home")';
                $.ajax({
                    type: "POST",
                    url: getProductList,
                    data: "{}",
                    success: function (data) {
                        var s = "";
                        for (var i = 0; i < data.item.length; i++) {
                            s += '<option value="' + data.item[i].id + '">' + data.item[i].name + '</option>';
                        }
                        $("#productId").html(s);
                    }
                });
            }
            function reloadData(){
                var table = $('#myTable').DataTable();
                table.ajax.reload();
            }
            function getData() {
                var urlHome = '@Url.Action("GetEmployeeList", "Home")';
                $('#myTable').DataTable({
                    paging: true,
                    searching: true,
                    ajax: {
                        url: urlHome,
                        type: "POST",
                        datatype: "json"
                    },
                    processing: true,
                    serverSide: true,
                    filter: true,
                    columns: [
                        { data: "productName", name: "ProductName" },
                        { data: "categoryName", name: "CategoryName" },
                        { data: "customerName", name: "CustomerName" },
                        { data: "orderDateStr", name: "OrderDate" },
                        { data: "amount", name: "Amount" },
                    ]
                })
            }
</script>
}